<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='about-style.css')}}">
    <title>About Sentiment Analysis</title>
</head>

<body>
    <div class="container">
        <a href="/"><h1 class="backToHome">Back to Analyzer</h1></a>
        <div class="saInfo">
            <h2>What is Sentiment Analysis ?</h2>
            <p><strong>Sentiment Analysis</strong> is the process of determining whether a piece of writing is positive&#128516,
                negative&#128542 or neutral&#128528. A sentiment analysis system for text analysis combines natural language processing
                (NLP) and machine learning techniques to assign weighted sentiment scores to the entities, topics,
                themes and categories within a sentence or phrase. <br>Sentiment analysis helps data analysts within
                large enterprises gauge public opinion, conduct nuanced market research, monitor brand and product
                reputation, and understand customer experiences</p>
            <h2>Advantages of using Sentiment Analysis.</h2>
            <p>
            <ul>
                <li>Improve Customer Service</li>
                <li>Develop Quality Products</li>
                <li>Discovering New Marketing Strategies</li>
                <li>Improve Media Perceptions</li>
                <li>Increasing Sales Revenue</li>
                <li>Improve Crises Management</li>
            </ul>
            </p>
        </div>
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>